# Maven/Java
target/
*.class
*.jar
*.war
*.ear
.project
.classpath
.settings/
.idea/
*.iml
.vscode/
.env

# Flutter
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages
flutter/build/
!flutter/build/app/outputs/flutter-apk/app-debug.apk
!flutter/build/app/outputs/flutter-apk/app-release.apk

# Gradle & Android local configs
.gradle/
**/.gradle/
**/.kotlin/
local.properties
**/local.properties

# Memory Dumps
*.hprof
**/*.hprof

# Node/npm
node_modules/
**/node_modules/
